* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(74, 73, 73);

}

nav {
    /* margin: 10px; */
    background-color: black;
    width: 100%;
}

nav ul {
    display: flex;
    /* margin: 10px; */
  
    justify-content: center;
    align-items: center;
    
}

nav ul li {
    padding: 10px;
    /* margin: 2px; */
    list-style: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: azure;
    margin: 2px;
    padding: 2px;
}

.container{
    height: 544px;
    width: 100%;
    border: 2px solid black;
    /* margin: 5px;
    padding: 5px;      this will give you an unwanted horizontal scroll-bar*/ 
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start; 
}
.card{
    
    background-color: white;
    height: 444px;
    width: 244px;
}
.card1{
    background-color: antiquewhite;
}
.card2{
    background-color: pink;
}
.card3{
    background-color: rgb(108, 108, 249);
}
.card4{
    background-color: #fb6464;
}